.form-container{
    border: 1px solid black;
    padding: 35px;
}
.gender-container{
    padding-left: 50px;
}
 .add-doctor-btn{
    margin-left: 50px;
    margin-top: 15px;
}
.h1{
    margin: 10px;
    text-align: center;
    font-family: Algerian;
    font-weight: bold;
    font-style:italic;
}
.searchbtn{
    
}

